*.pdf
*.djvu
*.epub
*.exe
*.zip
*.7z
*.mp4
lib/

*.pyc

# Latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.xdv

# cpp
**/.cmake/**
**/CMakeFiles/**
**/cmake-build-debug/**
**/cpp/build/**

# IDEs
**/.idea/**
**/.vscode/**

jupyter2pdf/

диплом/angular-transform/fat.ipynb
диплом/data/fatquant-pancreas-10.jpg
диплом/data/fatquant-pancreas-10.tif
диплом/data/brodatz-textures/1.1.01.tiff
диплом/data/brodatz-textures/1.1.02.tiff
диплом/data/brodatz-textures/1.1.03.tiff
диплом/data/brodatz-textures/1.1.04.tiff
диплом/data/brodatz-textures/1.1.05.tiff
диплом/data/brodatz-textures/1.1.06.tiff
диплом/data/brodatz-textures/1.1.07.tiff
диплом/data/brodatz-textures/1.1.08.tiff
диплом/data/brodatz-textures/1.1.09.tiff
диплом/data/brodatz-textures/1.1.10.tiff
диплом/data/brodatz-textures/1.1.11.tiff
диплом/data/brodatz-textures/1.1.12.tiff
диплом/data/brodatz-textures/1.1.13.tiff
диплом/data/brodatz-textures/1.2.01.tiff
диплом/data/brodatz-textures/1.2.02.tiff
диплом/data/brodatz-textures/1.2.03.tiff
диплом/data/brodatz-textures/1.2.04.tiff
диплом/data/brodatz-textures/1.2.05.tiff
диплом/data/brodatz-textures/1.2.06.tiff
диплом/data/brodatz-textures/1.2.07.tiff
диплом/data/brodatz-textures/1.2.08.tiff
диплом/data/brodatz-textures/1.2.09.tiff
диплом/data/brodatz-textures/1.2.10.tiff
диплом/data/brodatz-textures/1.2.11.tiff
диплом/data/brodatz-textures/1.2.12.tiff
диплом/data/brodatz-textures/1.2.13.tiff
диплом/data/brodatz-textures/1.3.01.tiff
диплом/data/brodatz-textures/1.3.02.tiff
диплом/data/brodatz-textures/1.3.03.tiff
диплом/data/brodatz-textures/1.3.04.tiff
диплом/data/brodatz-textures/1.3.05.tiff
диплом/data/brodatz-textures/1.3.06.tiff
диплом/data/brodatz-textures/1.3.07.tiff
диплом/data/brodatz-textures/1.3.08.tiff
диплом/data/brodatz-textures/1.3.09.tiff
диплом/data/brodatz-textures/1.3.10.tiff
диплом/data/brodatz-textures/1.3.11.tiff
диплом/data/brodatz-textures/1.3.12.tiff
диплом/data/brodatz-textures/1.3.13.tiff
диплом/data/brodatz-textures/1.4.01.tiff
диплом/data/brodatz-textures/1.4.02.tiff
диплом/data/brodatz-textures/1.4.03.tiff
диплом/data/brodatz-textures/1.4.04.tiff
диплом/data/brodatz-textures/1.4.05.tiff
диплом/data/brodatz-textures/1.4.06.tiff
диплом/data/brodatz-textures/1.4.07.tiff
диплом/data/brodatz-textures/1.4.08.tiff
диплом/data/brodatz-textures/1.4.09.tiff
диплом/data/brodatz-textures/1.4.10.tiff
диплом/data/brodatz-textures/1.4.11.tiff
диплом/data/brodatz-textures/1.4.12.tiff
диплом/data/brodatz-textures/1.5.01.tiff
диплом/data/brodatz-textures/1.5.02.tiff
диплом/data/brodatz-textures/1.5.03.tiff
диплом/data/brodatz-textures/1.5.04.tiff
диплом/data/brodatz-textures/1.5.05.tiff
диплом/data/brodatz-textures/1.5.06.tiff
диплом/data/brodatz-textures/1.5.07.tiff
диплом/data/brodatz-textures/descriptions.txt
диплом/data/brodatz-textures/texmos1.p512.tiff
диплом/data/brodatz-textures/texmos2.p512.tiff
диплом/data/brodatz-textures/texmos2.s512.tiff
диплом/data/brodatz-textures/texmos3.p512.tiff
диплом/data/brodatz-textures/texmos3.s512.tiff
диплом/data/brodatz-textures/texmos3b.p512.tiff
диплом/data/cpm17/New Text Document.txt
диплом/data/cpm17/test/Images/image_00.png
диплом/data/cpm17/test/Images/image_01.png
диплом/data/cpm17/test/Images/image_02.png
диплом/data/cpm17/test/Images/image_03.png
диплом/data/cpm17/test/Images/image_04.png
диплом/data/cpm17/test/Images/image_05.png
диплом/data/cpm17/test/Images/image_06.png
диплом/data/cpm17/test/Images/image_07.png
диплом/data/cpm17/test/Images/image_08.png
диплом/data/cpm17/test/Images/image_09.png
диплом/data/cpm17/test/Images/image_10.png
диплом/data/cpm17/test/Images/image_11.png
диплом/data/cpm17/test/Images/image_12.png
диплом/data/cpm17/test/Images/image_13.png
диплом/data/cpm17/test/Images/image_14.png
диплом/data/cpm17/test/Images/image_15.png
диплом/data/cpm17/test/Images/image_16.png
диплом/data/cpm17/test/Images/image_17.png
диплом/data/cpm17/test/Images/image_18.png
диплом/data/cpm17/test/Images/image_19.png
диплом/data/cpm17/test/Images/image_20.png
диплом/data/cpm17/test/Images/image_21.png
диплом/data/cpm17/test/Images/image_22.png
диплом/data/cpm17/test/Images/image_23.png
диплом/data/cpm17/test/Images/image_24.png
диплом/data/cpm17/test/Images/image_25.png
диплом/data/cpm17/test/Images/image_26.png
диплом/data/cpm17/test/Images/image_27.png
диплом/data/cpm17/test/Images/image_28.png
диплом/data/cpm17/test/Images/image_29.png
диплом/data/cpm17/test/Images/image_30.png
диплом/data/cpm17/test/Images/image_31.png
диплом/data/cpm17/test/Labels/image_00.mat
диплом/data/cpm17/test/Labels/image_01.mat
диплом/data/cpm17/test/Labels/image_02.mat
диплом/data/cpm17/test/Labels/image_03.mat
диплом/data/cpm17/test/Labels/image_04.mat
диплом/data/cpm17/test/Labels/image_05.mat
диплом/data/cpm17/test/Labels/image_06.mat
диплом/data/cpm17/test/Labels/image_07.mat
диплом/data/cpm17/test/Labels/image_08.mat
диплом/data/cpm17/test/Labels/image_09.mat
диплом/data/cpm17/test/Labels/image_10.mat
диплом/data/cpm17/test/Labels/image_11.mat
диплом/data/cpm17/test/Labels/image_12.mat
диплом/data/cpm17/test/Labels/image_13.mat
диплом/data/cpm17/test/Labels/image_14.mat
диплом/data/cpm17/test/Labels/image_15.mat
диплом/data/cpm17/test/Labels/image_16.mat
диплом/data/cpm17/test/Labels/image_17.mat
диплом/data/cpm17/test/Labels/image_18.mat
диплом/data/cpm17/test/Labels/image_19.mat
диплом/data/cpm17/test/Labels/image_20.mat
диплом/data/cpm17/test/Labels/image_21.mat
диплом/data/cpm17/test/Labels/image_22.mat
диплом/data/cpm17/test/Labels/image_23.mat
диплом/data/cpm17/test/Labels/image_24.mat
диплом/data/cpm17/test/Labels/image_25.mat
диплом/data/cpm17/test/Labels/image_26.mat
диплом/data/cpm17/test/Labels/image_27.mat
диплом/data/cpm17/test/Labels/image_28.mat
диплом/data/cpm17/test/Labels/image_29.mat
диплом/data/cpm17/test/Labels/image_30.mat
диплом/data/cpm17/test/Labels/image_31.mat
диплом/data/cpm17/test/Overlay/image_00.png
диплом/data/cpm17/test/Overlay/image_01.png
диплом/data/cpm17/test/Overlay/image_02.png
диплом/data/cpm17/test/Overlay/image_03.png
диплом/data/cpm17/test/Overlay/image_04.png
диплом/data/cpm17/test/Overlay/image_05.png
диплом/data/cpm17/test/Overlay/image_06.png
диплом/data/cpm17/test/Overlay/image_07.png
диплом/data/cpm17/test/Overlay/image_08.png
диплом/data/cpm17/test/Overlay/image_09.png
диплом/data/cpm17/test/Overlay/image_10.png
диплом/data/cpm17/test/Overlay/image_11.png
диплом/data/cpm17/test/Overlay/image_12.png
диплом/data/cpm17/test/Overlay/image_13.png
диплом/data/cpm17/test/Overlay/image_14.png
диплом/data/cpm17/test/Overlay/image_15.png
диплом/data/cpm17/test/Overlay/image_16.png
диплом/data/cpm17/test/Overlay/image_17.png
диплом/data/cpm17/test/Overlay/image_18.png
диплом/data/cpm17/test/Overlay/image_19.png
диплом/data/cpm17/test/Overlay/image_20.png
диплом/data/cpm17/test/Overlay/image_21.png
диплом/data/cpm17/test/Overlay/image_22.png
диплом/data/cpm17/test/Overlay/image_23.png
диплом/data/cpm17/test/Overlay/image_24.png
диплом/data/cpm17/test/Overlay/image_25.png
диплом/data/cpm17/test/Overlay/image_26.png
диплом/data/cpm17/test/Overlay/image_27.png
диплом/data/cpm17/test/Overlay/image_28.png
диплом/data/cpm17/test/Overlay/image_29.png
диплом/data/cpm17/test/Overlay/image_30.png
диплом/data/cpm17/test/Overlay/image_31.png
диплом/data/cpm17/train/Images/image_00.png
диплом/data/cpm17/train/Images/image_01.png
диплом/data/cpm17/train/Images/image_02.png
диплом/data/cpm17/train/Images/image_03.png
диплом/data/cpm17/train/Images/image_04.png
диплом/data/cpm17/train/Images/image_05.png
диплом/data/cpm17/train/Images/image_06.png
диплом/data/cpm17/train/Images/image_07.png
диплом/data/cpm17/train/Images/image_08.png
диплом/data/cpm17/train/Images/image_09.png
диплом/data/cpm17/train/Images/image_10.png
диплом/data/cpm17/train/Images/image_11.png
диплом/data/cpm17/train/Images/image_12.png
диплом/data/cpm17/train/Images/image_13.png
диплом/data/cpm17/train/Images/image_14.png
диплом/data/cpm17/train/Images/image_15.png
диплом/data/cpm17/train/Images/image_16.png
диплом/data/cpm17/train/Images/image_17.png
диплом/data/cpm17/train/Images/image_18.png
диплом/data/cpm17/train/Images/image_19.png
диплом/data/cpm17/train/Images/image_20.png
диплом/data/cpm17/train/Images/image_21.png
диплом/data/cpm17/train/Images/image_22.png
диплом/data/cpm17/train/Images/image_23.png
диплом/data/cpm17/train/Images/image_24.png
диплом/data/cpm17/train/Images/image_25.png
диплом/data/cpm17/train/Images/image_26.png
диплом/data/cpm17/train/Images/image_27.png
диплом/data/cpm17/train/Images/image_28.png
диплом/data/cpm17/train/Images/image_29.png
диплом/data/cpm17/train/Images/image_30.png
диплом/data/cpm17/train/Images/image_31.png
диплом/data/cpm17/train/Labels/image_00.mat
диплом/data/cpm17/train/Labels/image_01.mat
диплом/data/cpm17/train/Labels/image_02.mat
диплом/data/cpm17/train/Labels/image_03.mat
диплом/data/cpm17/train/Labels/image_04.mat
диплом/data/cpm17/train/Labels/image_05.mat
диплом/data/cpm17/train/Labels/image_06.mat
диплом/data/cpm17/train/Labels/image_07.mat
диплом/data/cpm17/train/Labels/image_08.mat
диплом/data/cpm17/train/Labels/image_09.mat
диплом/data/cpm17/train/Labels/image_10.mat
диплом/data/cpm17/train/Labels/image_11.mat
диплом/data/cpm17/train/Labels/image_12.mat
диплом/data/cpm17/train/Labels/image_13.mat
диплом/data/cpm17/train/Labels/image_14.mat
диплом/data/cpm17/train/Labels/image_15.mat
диплом/data/cpm17/train/Labels/image_16.mat
диплом/data/cpm17/train/Labels/image_17.mat
диплом/data/cpm17/train/Labels/image_18.mat
диплом/data/cpm17/train/Labels/image_19.mat
диплом/data/cpm17/train/Labels/image_20.mat
диплом/data/cpm17/train/Labels/image_21.mat
диплом/data/cpm17/train/Labels/image_22.mat
диплом/data/cpm17/train/Labels/image_23.mat
диплом/data/cpm17/train/Labels/image_24.mat
диплом/data/cpm17/train/Labels/image_25.mat
диплом/data/cpm17/train/Labels/image_26.mat
диплом/data/cpm17/train/Labels/image_27.mat
диплом/data/cpm17/train/Labels/image_28.mat
диплом/data/cpm17/train/Labels/image_29.mat
диплом/data/cpm17/train/Labels/image_30.mat
диплом/data/cpm17/train/Labels/image_31.mat
диплом/data/cpm17/train/Overlay/image_00.png
диплом/data/cpm17/train/Overlay/image_01.png
диплом/data/cpm17/train/Overlay/image_02.png
диплом/data/cpm17/train/Overlay/image_03.png
диплом/data/cpm17/train/Overlay/image_04.png
диплом/data/cpm17/train/Overlay/image_05.png
диплом/data/cpm17/train/Overlay/image_06.png
диплом/data/cpm17/train/Overlay/image_07.png
диплом/data/cpm17/train/Overlay/image_08.png
диплом/data/cpm17/train/Overlay/image_09.png
диплом/data/cpm17/train/Overlay/image_10.png
диплом/data/cpm17/train/Overlay/image_11.png
диплом/data/cpm17/train/Overlay/image_12.png
диплом/data/cpm17/train/Overlay/image_13.png
диплом/data/cpm17/train/Overlay/image_14.png
диплом/data/cpm17/train/Overlay/image_15.png
диплом/data/cpm17/train/Overlay/image_16.png
диплом/data/cpm17/train/Overlay/image_17.png
диплом/data/cpm17/train/Overlay/image_18.png
диплом/data/cpm17/train/Overlay/image_19.png
диплом/data/cpm17/train/Overlay/image_20.png
диплом/data/cpm17/train/Overlay/image_21.png
диплом/data/cpm17/train/Overlay/image_22.png
диплом/data/cpm17/train/Overlay/image_23.png
диплом/data/cpm17/train/Overlay/image_24.png
диплом/data/cpm17/train/Overlay/image_25.png
диплом/data/cpm17/train/Overlay/image_26.png
диплом/data/cpm17/train/Overlay/image_27.png
диплом/data/cpm17/train/Overlay/image_28.png
диплом/data/cpm17/train/Overlay/image_29.png
диплом/data/cpm17/train/Overlay/image_30.png
диплом/data/cpm17/train/Overlay/image_31.png
диплом/data/dataset/chunks.npy
диплом/data/dataset/hist_R1_P8_d.npy
диплом/data/dataset/hist_R1_P8_u.npy
диплом/data/dataset/hist_R2_P12_d.npy
диплом/data/dataset/hist_R2_P12_u.npy
диплом/data/dataset/hist_R3_P24_u.npy
диплом/data/dataset/hist_R5_P36_u.npy
диплом/data/dataset/labels.npy
диплом/data/dataset/lbp_R1_P8_d.npy
диплом/data/dataset/lbp_R1_P8_u.npy
диплом/data/dataset/lbp_R2_P12_d.npy
диплом/data/dataset/lbp_R2_P12_u.npy
диплом/data/dataset/lbp_R3_P24_u.npy
диплом/data/dataset/lbp_R5_P36_u.npy
диплом/data/dataset/reb_hist_R1_P8_d.npy
диплом/data/dataset/reb_hist_R2_P12_d.npy
диплом/data/dataset/old/hist_R1_P8_d.npy
диплом/data/dataset/old/hist_R1_P8_u.npy
диплом/data/dataset/old/hist_R2_P12_d.npy
диплом/data/dataset/old/hist_R2_P12_u.npy
диплом/data/dataset/old/hist_R3_P24_u.npy
диплом/data/dataset/old/hist_R5_P36_u.npy
диплом/data/dataset/old/lbp_R1_P8_d.npy
диплом/data/dataset/old/lbp_R1_P8_u.npy
диплом/data/dataset/old/lbp_R2_P12_d.npy
диплом/data/dataset/old/lbp_R2_P12_u.npy
диплом/data/dataset/old/lbp_R3_P24_u.npy
диплом/data/dataset/old/lbp_R5_P36_u.npy
диплом/data/run01/test.parquet
диплом/data/run01/train.parquet
диплом/data/run02/means.npy
диплом/data/run02/X_cl.npy
диплом/data/run03/means.npy
диплом/data/run03/X_cl.npy
диплом/data/run04/means.npy
диплом/data/run04/X_cl.npy
диплом/data/run05/means.npy
диплом/data/run05/X_cl.npy
диплом/Latex/dyplom-template.bbl
диплом/Latex/dyplom-template.bbl
диплом/Latex/dyplom-template.blg
диплом/Latex/dyplom-template.toc
